.toast-center-center {  
   width: 100%;
}

body{
    background-color: #17191c;
}

h1,h2,h3{
    margin-bottom: 5%;
    margin-top:5%;
    color: #00b300;
    font: 'Courier New';
    text-align: center;
}

.card-title{
    color: #00b300;
    font: 'Courier New';
    font-size: 18px;
}

.card-entre{
    float: none;
    margin: 0 auto;
}

.card-cadastre{
    float: none;
    margin: 0 auto;
}

input{
    margin-left: 2%;
    margin-top: 2%;
    font: 'Courier New';
    font-size: 12px;
   
}

label{
    margin-top: 2%;
}

button{
    margin-top: 5%;
    background: #00b300; 
    color: whitesmoke;
}


.link{
    font: 'Courier New';
    font-size: 18px;
    color: #00b300;
    margin: 0 auto;
}

p{
    text-align: center;
    font: 'Courier New';
}

.p-cadastre{
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 18px;
}

.esqueceu{
    float: right;
    font: 'Courier New';
    font-size: 16px;
    margin: 0 auto;
    color: black;
}